@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* a:hover {
  color: #c49b63;
} */
.cart {
  background-image: url(./assets/cart_shopping_icon.svg);
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.embla {
  width: 100%;
  height: 100vh;
  /* margin: auto;
  margin-top: 10px;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.embla__viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
.embla__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.embla__slide__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
  background-position: center;
  filter: brightness(0.5);
}
.embla__slide__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text within the container */
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 80%; /* Adjust width as needed */
  height: 80%; /* Adjust height as needed */
  top: 50%; /* Move to the vertical center */
  left: 50%; /* Move to the horizontal center */
  transform: translate(-50%, -50%); /* Center it */
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
  position: absolute;
  bottom: 20px;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border: 2px solid white;
  margin: 0;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
  background-color: #e6e6e6;
  opacity: 0.8;
  border: 2px solid black;
}
.embla__dot--selected:after {
  background-color: white;
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  opacity: 1;
}
.embla__slide__img {
  user-select: none;
}

.btn-wrapper {
  display: flex;
  gap: 10px;
}
.btn-wrapper a {
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-wrapper a:nth-child(1) {
  color: black;
  background-color: #c49b63;
  border: 1px solid #c49b63;
}
.btn-wrapper a:nth-child(2) {
  background-color: transparent;
  border: #fff 1px solid;
}
.btn-wrapper a:nth-child(1):hover,
.signup:hover {
  background-color: transparent;
  color: #c49b63;
  transition: all 0.3s ease;
}
.btn-wrapper a:nth-child(2):hover {
  background-color: #c49b63;
  color: black;
  transition: all 0.3s ease;
  border: 1px solid #c49b63;
}

.about-container {
  /* padding: 20px 50px; */
  display: flex;
  justify-content: space-between;
}
.one-half-img-left {
  width: 50%;
  height: 600px;
  background-image: url(../src/assets/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.one-half-img-right {
  text-align: justify;
  padding: 7% 9% 8% 8%;
  width: 50%;
}
.story-text {
  margin-left: -150px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.title {
  font-size: 40px;
  color: #c49b63;
  font-weight: 500;
  line-height: 50px;
}
.desc {
  font-size: 15px;
  color: gray;
  line-height: 25px;
}
